{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="actions", sched_app=sched_app()) %}
{% end %}

{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<style type="text/css">
    #tree{
        padding: 10px;
        max-height: 500px;
        max-width: 30%;
        overflow-y: auto;
    }
    #config{
        display: inline-block;
    }
    #info{
        padding: 10px;
        display: inline-block;
    }

</style>
<div id="container" style="display: inline;">
    <div id="tree" style="max-width: 20%; float:left;"></div>
    <div id="info" style="max-width: 70%" >
        <h2 id="action_id"><h2>
        <h3>Action configuration </h3>
        <pre id="config" class="prettyprint linenums languague-css"></pre>
        <h3>Stats <small>(only data currently in flower database)</small></h3>
        <table id="stats" class="table table-bordered table-striped">
            <tbody>
                <tr id='runtime'><td>Runtime (avg.)</td><td></td></tr>
            </tbody>
        </table>
        <h3>Latest Runs</h3>
        <table id="tasks-table" class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>UUID</th>
                  <th>Cycle</th>
                  <th>State</th>
                  <th>Received</th>      
                  <th>Scheduled</th>
                  <th>Started</th>
                  <th>Timestamp</th>
                  <th>Runtime</th>
                  <th>Worker</th>
                  <th>Expires</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% end %}

{% block extra_scripts %}
<script type="text/javascript">
    function get_tree_data(data){
        var tree_data = [];
        data.actions.forEach(function(action){
            tree_data.push({
                text: action
            })
        })
        return tree_data;
    }
    var tasks_table = $('#tasks-table').DataTable({
        rowId: 0,
        searching: false,
        paginate: false,
        select: true,
        scrollX: true,
        scrollY: 500,
        scrollCollapse: true,
        order: [
            [6, "asc"]
        ],
        columnDefs: [{
            targets: 0,
            data: 'uuid',
            render: function (data, type, full, meta) {
                return '<a href="' + '/task/' + data + '">' + data + '</a>';
            }
        },{
            targets: 1,
            data: 'cycle_dt',
        }, {
            targets: 2,
            data: 'state',
            render: flower.render_status
        }, {
            targets: 3,
            data: 'received',
            render: flower.format_time
        }, {
            targets: 4,
            data: 'eta',
            render: flower.format_isotime
        }, {
            targets: 3,
            data: 'started',
            render: flower.format_time
        },  {
            targets: 5,
            data: 'succeeded',
            render: flower.format_time
        }, {
            targets: 6,
            data: 'timestamp',
            render: flower.format_time
        }, {
            targets: 7,
            data: 'runtime',
            render: flower.format_duration
        },{
            targets: 8,
            data: 'worker',
        },{
            targets: 9,
            data: 'expires',
            render: flower.format_isotime
        },],
    });
    $.get("/actions/data", function(data){
        $('#tree').treeview({
            levels: 1,
            showTags: true,
            showCheckbox: false,
            multiSelect: false,
            data: get_tree_data(data),
            onNodeSelected: function(event, data){
                $.get("/actions/data/"+data.text, function(action){
                    $("#action_id").text(data.text);
                    $("#config").text(action.config);
                    $("#runtime td:eq(1)").text(flower.format_duration(action.stats.runtime))
                    tasks_table.clear();
                    tasks_table.rows.add(action.tasks);
                    tasks_table.draw();
                });
            }
        });    
    });
    
</script>
{% end %}