<div class="row-fluid">
  <div class="span6">
    {% if action_conf %}
    <h3>Action configuration</h3>
    <pre class="prettyprint linenums languague-css">
      {{ action_conf }}
    </pre>
    {% else %}
    <h3>Action configuration <small> Not found </small></h3>
    {% end %}
  </div>
  <div class="span6">
    {% if logfile %}
    <h3>Logfile
      <div id="logpath" hidden>{{ logpath }}</div>
      <span style="float: right">
        <button style="line-height: 11px; padding: 3px 7px;" class="btn-small" onclick="$('#logfile').scrollTop(0)" name="top">
          <span class="icon-circle-arrow-up"></span>
        </button>
        <button style="line-height: 11px;  padding: 3px 7px;" class="btn-small" onclick="$('#logfile').scrollTop($('#logfile')[0].scrollHeight)" name="bottom">
          <span class="icon-circle-arrow-down"></span>
        </button>
      </span>
    </h3>
    <pre id='logfile' class="prettyprint linenums languague-css" style="overflow-y: scroll; max-height:500px">
      {{ logfile }}
    </pre>
    {% else %}
    <h3>Logfile <small> Not found </small></h3>
    {% end %}
  </div> 
<script>
   $( document ).ready(function() {
        $('#logfile').scrollTop($('#logfile')[0].scrollHeight);
    });
</script>
</div>