{% import pprint %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ sched_app() }} - Scheduler </title>
  	<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
	  <link rel="stylesheet" href="{{ static_url('css/datatables-1.13.4.min.css') }}">
	  <link href="{{ static_url('css/flower.css') }}" rel="stylesheet">
    {% block extra_styles %}
    {% end %}
  </head>
  <body class="m-2">
    {% block navbar %}
        {% module Template("navbar.html", active_tab="", sched_app=sched_app(), docs_url=docs_url()) %}
    {% end %}

    <div class="container-fluid my-2">
      <div id="alert-container"></div>
      <input type="hidden" value="{{ url_prefix or '' }}" id='url_prefix'>
    </div>

    {% block container %}
    {% end %}

    <script src="{{ static_url('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ static_url('js/datatables-1.13.4.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.dataTables.select.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.dataTables.buttons.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.dataTables.colReorder.min.js') }}"></script>
    <script src="{{ static_url('js/moment-2.29.4.min.js') }}"></script>
    <script src="{{ static_url('js/moment-timezone-with-data-2.29.4.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.expander.min.js') }}"></script>
    <script src="{{ static_url('js/moment-duration-format.js') }}"></script>

    <script src="{{ static_url('js/d3.min.js') }}"></script>
    <script src="{{ static_url('js/d3.layout.min.js') }}"></script>
    <script src="{{ static_url('js/rickshaw.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ static_url('js/bootstrap-transition.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-alert.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-modal.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-tab.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-popover.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-button.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-collapse.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-carousel.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-typeahead.js') }}"></script>
    <script src="{{ static_url('js/feather.min.js') }}"></script>

	  <script src="{{ static_url('js/flower.js') }}"></script>

    {% block extra_scripts %}
    {% end %}
  </body>
</html>