{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="crontab", sched_app=sched_app(), docs_url=docs_url()) %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>
<input type="hidden" value="{{ action_ids }}" id='actions'>
<div class="container-fluid">
  <div id="crontabs-accordion" class="accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#crontabs-accordion" href="#crontabs-container">
          Show all crontabs
        </a>
      </div>
      <div id="crontabs-container" class="collapse" style="height: 0px;">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Action ID</th>
            <th>Crontab</th>
            <th>Countdown</th>
            <th>Next Run</th>
          </tr>
          </thead>
          <tbody>
          {% for action in crontab_actions %}
          <tr id="{{ action['action_id'] }}">
            <td>{{ action['action_id'] }}</td>
            <td>{{ action['crontab'] }}</td>
            <td>{{ action['countdown'] }}</td>
            <td>{{ humanize(action['next_run'], type='time') }}</td>
          </tr>
          {% end %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <table id="crontab-table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Action ID</th>
      <th>Cycle</th>
      <th>State</th>
      <th>Received</th>
      <th>Scheduled</th>
      <th>Started</th>
      <th>Timestamp</th>
      <th>Runtime</th>
      <th>Worker</th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
        {% if getattr(task, 'action_id', None) is None %}
            {% continue %}
        {% end %}
    <tr id="{{uuid}}">
      <td>{{ task.action_id }}</td>
      <td>{{ task.cycle_dt }}</td>
      <td>{{ task.state }}</td>
      <td>{{ humanize(task.received, type=time) }}</td>
      <td>{{ task.eta }}</td>
      <td>{{ humanize(task.started, type=time) }}</td>
      <td>{{ humanize(task.timestamp) }}</td>
      <td>{{ task.worker }}</td>
    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}

{% block extra_scripts %}

<script type="text/javascript">
$('#crontab-table').DataTable({
  rowId: 'uuid',
  searching: true,
  paginate: true,
  scrollX: true,
  scrollCollapse: true,
  processing: true,
  serverSide: true,
  colReorder: true,
  lengthMenu: [ 50, 100, 200, 500],
  initComplete: function() {
    flower.connect_tasks_socket(flower.on_tasks_update);
  },
  ajax: {
      url: flower.url_prefix() + '/crontab/datatable',
      data: function ( d ) {
          d.actions = $('#actions').val();
      }
  },
  order: [
      [6, "asc"]
  ],
  oSearch: {
      "sSearch": $.urlParam('state') ? 'state:' + $.urlParam('state') : ''
  },
  columnDefs: [{
      targets: 0,
      data: 'action_id',
      visible: flower.isColumnVisible('action_id'),
      orderable: true,
      render: function (data, type, full, meta) {
          return '<a href="' + flower.url_prefix() + '/task/' + full.uuid + '">' + data + '</a>';
      }
  },{
      targets: 1,
      data: 'cycle_dt',
      orderable: true,
      visible: flower.isColumnVisible('cycle_dt')
  }, {
      targets: 2,
      data: 'state',
      visible: flower.isColumnVisible('state'),
      render: flower.render_status
  }, {
      targets: 3,
      data: 'received',
      visible: flower.isColumnVisible('received'),
      render: function (data, type, full, meta) {
          if (data) {
              return flower.format_time(data);
          }
          return data;
      }

  }, {
      targets: 5,
      data: 'eta',
      visible: flower.isColumnVisible('eta'),
      render: function (data, type, full, meta) {
          if (data) {
              return flower.format_isotime(data);
          }
          return data;
      }
  }, {
      targets: 4,
      data: 'started',
      visible: flower.isColumnVisible('started'),
      render: function (data, type, full, meta) {
          if (data) {
              return flower.format_time(data);
          }
          return data;
      }
  },  {
      targets: 6,
      data: 'timestamp',
      visible: flower.isColumnVisible('timestamp'),
      render: function (data, type, full, meta) {
          if (data) {
              return flower.format_time(data);
          }
          return data;
      }
  },{
      targets: 7,
      data: 'runtime',
      visible: flower.isColumnVisible('runtime'),
      render: flower.format_duration
  }, {
      targets: 8,
      data: 'worker',
      visible: flower.isColumnVisible('worker')
  },],
});
</script>

{% end %}