{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="cycles", sched_app=sched_app(), docs_url=docs_url()) %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>
<input type="hidden" value="{{ selected }}" id='selected'>
<input type="hidden" value="{%for uuid,cycle in cycle_tasks%}{{ uuid }},{%end%}" id='cycles-tasks'>

<div class="container-fluid">
  <div id="active-cycles-accordion" class="accordion">
    <div class="accordion-item">
      <div class="accordion-header" id="panelOne-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#active-cycles-container" aria-expanded="true" aria-controls="active-cycles-container">
          Show active cycles tasks
        </button>
      </div>
      <div id="active-cycles-container" class="accordion-collapse collapse show" aria-labelledby="panelOne-headingOne" style="height: 0px;">
        <div class="accordion-body">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>UUID</th>
              <th>Cycle</th>
              <th>Workflow</th>
              <th>State</th>      
              <th>Started</th>
              <th>Timestamp</th>
              <th>Worker</th>    
            </tr>
            </thead>
            <tbody>
            {% for uuid, task in cycle_tasks %}
            {% if task.state in ["RECEIVED","STARTED","RUNNING","RETRY"] and task.cycle_dt %}
            <tr id="{{ uuid }}">
              <td><a href="/task/{{uuid}}">{{ task.uuid }}</a></td>
              <td>{{ task.cycle_dt }}{% if task.end_cycle_dt %}--{{task.end_cycle_dt}}{% end %}</td>
              <td>
                [{{smart_truncate(', '.join(task.workflows_id+task.actions_id),64)}}]
              </td>
              <td>
              {% if isinstance(task.result, dict) and 'progress' in task.result and task.result['progress'] and task.state == 'RUNNING' %}
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{task.result['progress']*100}}%;">{{round(task.result['progress']*100,1)}}%
                {% if task.result['status'] %} - {{task.result['status']}}{%end%}</div>
              </div>
              {% else %}
              {{ task.state }}
              {% end %}</td>
              <td>{{ humanize(task.started, type=time) }}</td>
              <td>{{ humanize(task.timestamp, type=time) }}</td>
              <td>{{ task.worker.hostname }}</td>
            </tr>
            {% end %}
            {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="panelOne-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#previous-cycles-container" aria-expanded="false" aria-controls="previous-cycles-container">
          Show previous cycles tasks
        </button>
      </div>
      <div id="previous-cycles-container" class="accordion-collapse collapse" aria-labelledby="panelOne-headingTwo" style="height: 0px;">
        <div class="accordion-body">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>UUID</th>
              <th>Cycle</th>
              <th>Workflow</th>
              <th>State</th>      
              <th>Started</th>
              <th>Timestamp</th>
              <th>Worker</th>    
            </tr>
            </thead>
            <tbody>
            {% for uuid, task in cycle_tasks %}
            {% if task.state in ["FAILURE","SUCCESS","REVOKED"] %}
            <tr id="{{ uuid }}">
              <td><a href="/task/{{uuid}}">{{ task.uuid }}</a></td>
              <td>{{ task.cycle_dt }}{% if task.end_cycle_dt %}--{{task.end_cycle_dt}}{% end %}</td>
              <td>
                [{{smart_truncate(', '.join(task.workflows_id+task.actions_id),64)}}]
              </td>
              <td>{{ task.state }}</td>
              <td>{{ humanize(task.started, type=time) }}</td>
              <td>{{ humanize(task.timestamp, type=time) }}</td>
              <td>{{ task.worker.hostname }}</td>
            </tr>
            {% end %}
            {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">Cycle 
    <select id="select-cycle" name="selected">
      <option value='active'>All active cycles</option>
      <option value='previous'>All previous cycles</option>
      <option value='all'>All cycles</option>
      <option value='none'>No parent Cycle</option>
      {% for uuid,task in cycle_tasks %}
        <option {% if uuid and uuid == selected %} selected {% end %} value={{uuid}}>
          {{ task.cycle_dt }}{% if task.end_cycle_dt %}--{{task.end_cycle_dt}}{% end %} ({{smart_truncate(uuid,8,'')}})
        </option>
      {% end %}
    </select>
  </div>
  <div class="controls">State 
    <select id="select-state" name="selected">
      <option value="">All states</option>
      {% for state in states  %}
      <option value="{{ state }}">{{ state }}</option>
      {% end %} 
    </select>
  </div>
  <table id="cycles-table" class="table table-bordered table-striped table-hover w-100">
    <thead>
    <tr>
      <th>Action ID</th>
      <th>Cycle</th>
      <th>State</th>
      <th>Received</th>
      <th>Started</th>      
      <th>Scheduled</th>
      <th>Timestamp</th>
      <th>Runtime</th>
      <th>Worker</th>
      <th>Routing Key</th>
      <th>Retries</th>
      <th>Expires</th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
        {% if getattr(task, 'action_id', None) is None %}
            {% continue %}
        {% end %}
    <tr id="{{uuid}}">
      <td>{{ task.action_id }}</td>
      <td>{{ task.cycle_dt }}</td>
      <td>{{ task.state }}</td>
      <td>{{ humanize(task.received, type=time) }}</td>
      <td>{{ humanize(task.started, type=time) }}</td>
      <td>
        {% if task.timestamp and task.started %}
            {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
        {% end %}
      </td>
      <td>{{ humanize(task.timestamp) }}</td>
      <td>{{ task.eta }}</td>
      <td>{{ task.worker.hostname }}</td>
      <td>{{ task.routing_key }}</td>
      <td>{{ task.retries }}</td>   
      <td>{{ task.expires }}</td>      
    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}

{% block extra_scripts %}
<script type="text/javascript">
$('#select-cycle').change(function(){
  $('#cycles-table').DataTable().draw();
});
$('#select-state').change(function(){
  $('#cycles-table').DataTable().draw();
});
var autorefresh = {{ autorefresh }};
</script>
{% end %}