{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="cycles") %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>
<input type="hidden" value="{{ cycles_dt }}" id='cycles'>

<div class="container-fluid">
  <div class="controls">Cycle 
    <select id="select-cycle" name="cycle_dt" id="select-cycle">
      {% for cycle in cycles_dt %}
      <option {% if cycle==cycle_dt %} selected {% end %}>{{ cycle }}</option>
      {% end %}
    </select>
  </div>
  <table id="cycles-table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Action ID</th>
      <th>Cycle</th>
      <th>State</th>
      <th>Received</th>
      <th>Started</th>      
      <th>Scheduled</th>
      <th>Timestamp</th>
      <th>Runtime</th>
      <th>Worker</th>
      <th>Routing Key</th>
      <th>Retries</th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
        {% if getattr(task, 'action_id', None) is None %}
            {% continue %}
        {% end %}
    <tr id="{{uuid}}">
      <td>{{ task.action_id }}</td>
      <td>{{ task.cycle_dt }}</td>
      <td>{{ task.state }}</td>
      <td>{{ humanize(task.received, type=time) }}</td>
      <td>{{ humanize(task.started, type=time) }}</td>
      <td>
        {% if task.timestamp and task.started %}
            {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
        {% end %}
      </td>
      <td>{{ humanize(task.timestamp) }}</td>
      <td>{{ task.eta }}</td>
      <td>{{ task.worker }}</td>
      <td>{{ task.routing_key }}</td>
      <td>{{ task.retries }}</td>      
    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}