{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="dashboard", sched_app=sched_app()) %}
{% end %}

{% block container %}
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
        <a id="btn-active" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=STARTED,RUNNING">Active: {{ sum(map(lambda x:x.get('active') or 0, workers.values() )) }}</a>
        <a id="btn-processed" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}">Processed: {{ sum(map(lambda x:x.get('task-received') or 0, workers.values() )) }}</a>
        <a id="btn-failed" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=FAILURE">Failed: {{ sum(map(lambda x:x.get('task-failed') or 0, workers.values() )) }}</a>
        <a id="btn-succeeded" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=SUCCESS">Succeeded: {{ sum(map(lambda x:x.get('task-succeeded') or 0, workers.values() )) }}</a>
        <a id="btn-retried" class="btn btn-default btn-large" href="{{ reverse_url('tasks') }}?state=RETRY">Retried: {{ sum(map(lambda x:x.get('task-retried') or 0, workers.values() )) }}</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

      <div class="btn-group">
        <button class="btn" onclick="flower.shutdown_selected(event);">Shut Down</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown"><span
          class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="flower.shutdown_selected(event);">Shut Down</a></li>
          <li><a href="#" onclick="flower.restart_selected(event);">Restart Pool</a></li>
          <li><a href="#" onclick="flower.refresh_selected(event);">Refresh</a></li>
        </ul>
      </div>
    </div>

    <table id="workers-table" class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Worker Name</th>
            <th>Status</th>
            <th>Active</th>
            <th>Processed</th>
            <th>Failed</th>
            <th>Succeeded</th>
            <th>Retried</th>
            <th>Load Average</th>
        </tr>
      </thead>
      <tbody>
        {% for name, info in workers.items() %}
        <tr id="{{ url_escape(name) }}">
            <td>{{ name }}</td>
            <td>{{ info.get('status', None) }}</td>
            <td>{{ info.get('active', 0) or 0 }}</td>
            <td>{{ info.get('task-received', 0) }}</td>
            <td>{{ info.get('task-failed', 0) }}</td>
            <td>{{ info.get('task-succeeded', 0) }}</td>
            <td>{{ info.get('task-retried', 0) }}</td>
            <td>{{ humanize(info.get('loadavg', 'N/A')) }}</td>
        </tr>
        {% end %}
      </tbody>
    </table>

        </div>
    </div>

{% end %}
{% block extra_scripts %}
<script type="text/javascript">
  var table = $('#workers-table').DataTable({
    rowId: 'name',
    searching: true,
    paginate: false,
    select: true,
    scrollX: true,
    scrollY: 500,
    scrollCollapse: true,
    order: [
        [1, "asc"]
    ],
    columnDefs: [{
        targets: 0,
        data: 'name',
        render: function (data, type, full, meta) {
            return '<a href="' + flower.url_prefix() + '/worker/' + data + '">' + data + '</a>';
        }
    }, {
        targets: 1,
        data: 'status',
        render: function (data, type, full, meta) {
            if (data) {
                return '<span class="label label-success">Online</span>';
            } else {
                return '<span class="label label-important">Offline</span>';
            }
        }
    }, {
        targets: 2,
        data: 'active'
    }, {
        targets: 3,
        data: 'processed'
    }, {
        targets: 4,
        data: 'failed'
    }, {
        targets: 5,
        data: 'succeeded'
    }, {
        targets: 6,
        data: 'retried'
    }, {
        targets: 7,
        data: 'loadavg',
        render: function (data, type, full, meta) {
            if (Array.isArray(data)) {
                return data.join(', ');
            }
            return data;
        }
    }, ],
  });
  function sum(a, b) {
    return parseInt(a, 10) + parseInt(b, 10);
  }
  function on_dashboard_update(update) {
    $.each(update, function (name, info) {
        var row = table.row('#' + name);
        if (row) {
            row.data(info);
        } else {
            table.row.add(info);
        }
    });
    table.draw();

    $('a#btn-active').text('Active: ' + table.column(2).data().reduce(sum, 0));
    $('a#btn-failed').text('Failed: ' + table.column(4).data().reduce(sum, 0));
    $('a#btn-succeeded').text('Succeeded: ' + table.column(5).data().reduce(sum, 0));
    $('a#btn-retried').text('Retried: ' + table.column(6).data().reduce(sum, 0));
  }

  var host = $(location).attr('host'),
      protocol = $(location).attr('protocol') === 'http:' ? 'ws://' : 'wss://',
      ws = new WebSocket(protocol + host + url_prefix() + "/update-dashboard");
  
  ws.onmessage = function (event) {
      var update = $.parseJSON(event.data);
      on_dashboard_update(update);
  };
  
</script>
{% end %}