{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks") %}
{% end %}

{% block container %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="sankey_multiple" style="width: 1980px;"></div>

<script type="text/javascript">
  google.charts.load("current", {packages:["sankey"]});
  google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Type');
    data.addColumn({type:'boolean', role:'certainty'});
    data.addColumn({type:'string', role:'annotationText'});
    
    {% for row in table %}
        data.addRow(['{{row[0]}}','{{row[1]}}',{{row[2]}},{{row[3]}},'{{row[4]}}']);
    {% end %}

    // Set chart options
    var options = {
      width: 1980,
      sankey: {iterations: 100},
      nodePadding: 50
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.Sankey(document.getElementById('sankey_multiple'));
    chart.draw(data, options);
   }
</script>


{% end %}