{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="monitor", sched_app=sched_app(), docs_url=docs_url()) %}
{% end %}

{% block container %}

<div class="container">
    <div class="row">
        <div class="span6 spacer">
            <a name="succeeded"></a>
            <div class="graph content">
                <a href="#succeeded"><h3>Succeeded tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-succeeded" class="chart"></div><br>
                    <div id="legend-succeeded" class="legend"></div>
                    <div id="timeline-succeeded" class="timeline"></div>
                </div>
            </div>
        </div>

        <div class="span6 spacer">
            <a name="failed"></a>
            <div class="graph content">
                <a href="#failed"><h3>Failed tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-failed" class="chart"></div><br>
                    <div id="legend-failed" class="legend"></div>
                    <div id="timeline-failed" class="timeline"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6 spacer">
            <a name="times"></a>
            <div class="graph content">
                <a href="#times"><h3>Task times</h3></a>
                <div class="chart-container">
                    <div id="chart-time" class="chart"></div><br>
                    <div id="legend-time" class="legend"></div>
                    <div id="timeline-time" class="timeline"></div>
                </div>
            </div>
        </div>

        <div class="span6 spacer">
            <a name="broker"></a>
            <div class="graph content">
                <a href="#broker"><h3>Queued tasks</h3></a>
                <div class="chart-container">
                    <div id="chart-broker" class="chart"></div><br>
                    <div id="legend-broker" class="legend"></div>
                    <div id="timeline-broker" class="timeline"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block extra_scripts %}
<script type="text/javascript">

function create_graph(data, id, width, height, metric) {
    id = id || '';
    width = width || 500;
    height = height || 300;
    metric = metric || '';

    var name, seriesData = [],
        palette, graph, ticksTreatment, timeUnit, xAxis, yAxis, hoverDetail,
        legend, shelving, order, highlighter;
    for (name in data) {
        if (data.hasOwnProperty(name)) {
            seriesData.push({
                name: name
            });
        }
    }

    palette = new Rickshaw.Color.Palette({
        scheme: 'colorwheel'
    });

    graph = new Rickshaw.Graph({
        element: document.getElementById("chart" + id),
        width: width,
        height: height,
        renderer: 'stack',
        series: new Rickshaw.Series(seriesData, palette),
        maxDataPoints: 10000,
        padding: {
            top: 0.1,
            left: 0.01,
            right: 0.01,
            bottom: 0.01
        },
    });

    ticksTreatment = 'glow';

    timeUnit = new Rickshaw.Fixtures.Time.Local();
    timeUnit.formatTime = function (d) {
        return moment(d).format("yyyy.mm.dd HH:mm:ss");
    };
    timeUnit.unit("minute");

    xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeFixture: new Rickshaw.Fixtures.Time.Local(),
        ticksTreatment: ticksTreatment,
        timeUnit: timeUnit
    });

    xAxis.render();

    yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        ticksTreatment: ticksTreatment,
    });

    yAxis.render();

    hoverDetail = new Rickshaw.Graph.HoverDetail({
        graph: graph,
        yFormatter: function (y) {
            if (y % 1 === 0) {
                return y + metric;
            } else {
                return y.toFixed(2) + metric;
            }
        }
    });

    legend = new Rickshaw.Graph.Legend({
        graph: graph,
        element: document.getElementById('legend' + id)
    });

    shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
        graph: graph,
        legend: legend
    });

    order = new Rickshaw.Graph.Behavior.Series.Order({
        graph: graph,
        legend: legend
    });

    highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
        graph: graph,
        legend: legend
    });

    legend.shelving = shelving;
    graph.series.legend = legend;

    graph.render();
    return graph;
}

function current_unix_time() {
    var now = new Date();
    return Date.UTC(now.getUTCFullYear(), now.getUTCMonth(),
        now.getUTCDate(), now.getUTCHours(),
        now.getUTCMinutes(), now.getUTCSeconds()) / 1000;
}

function update_graph(graph, url, lastquery) {
    $.ajax({
        type: 'GET',
        url: url,
        data: {
            lastquery: lastquery
        },
        success: function (data) {
            graph.series.addData(data);
            graph.update();
        },
    });
}

var sts = current_unix_time(),
    fts = current_unix_time(),
    tts = current_unix_time(),
    updateinterval = parseInt($.urlParam('updateInterval'), 10) || 3000,
    succeeded_graph = null,
    failed_graph = null,
    time_graph = null,
    broker_graph = null;

$.ajax({
    type: 'GET',
    url: flower.url_prefix() + '/monitor/succeeded-tasks',
    data: {
        lastquery: current_unix_time()
    },
    success: function (data) {
        succeeded_graph = create_graph(data, '-succeeded');
        succeeded_graph.update();

        succeeded_graph.series.setTimeInterval(updateinterval);
        setInterval(function () {
            update_graph(succeeded_graph,
                flower.url_prefix() + '/monitor/succeeded-tasks',
                sts);
            sts = current_unix_time();
        }, updateinterval);

    },
});

$.ajax({
    type: 'GET',
    url: flower.url_prefix() + '/monitor/completion-time',
    data: {
        lastquery: current_unix_time()
    },
    success: function (data) {
        time_graph = create_graph(data, '-time', null, null, 's');
        time_graph.update();

        time_graph.series.setTimeInterval(updateinterval);
        setInterval(function () {
            update_graph(time_graph,
                flower.url_prefix() + '/monitor/completion-time',
                tts);
            tts = current_unix_time();
        }, updateinterval);

    },
});

$.ajax({
    type: 'GET',
    url: flower.url_prefix() + '/monitor/failed-tasks',
    data: {
        lastquery: current_unix_time()
    },
    success: function (data) {
        failed_graph = create_graph(data, '-failed');
        failed_graph.update();

        failed_graph.series.setTimeInterval(updateinterval);
        setInterval(function () {
            update_graph(failed_graph,
                flower.url_prefix() + '/monitor/failed-tasks',
                fts);
            fts = current_unix_time();
        }, updateinterval);

    },
});

$.ajax({
    type: 'GET',
    url: flower.url_prefix() + '/monitor/broker',
    success: function (data) {
        broker_graph = create_graph(data, '-broker');
        broker_graph.update();

        broker_graph.series.setTimeInterval(updateinterval);
        setInterval(function () {
            update_graph(broker_graph,
                flower.url_prefix() + '/monitor/broker');
        }, updateinterval);

    },
});    
</script>>
{% end %}