{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks", absolute_url=absolute_url) %}
{% end %}

{% block container %}
  <div id='task-page' class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <p id="taskid" class="hidden">{{ task.uuid }}</p>
          <p id="task" class="hidden">{{ task.name }}</p>
          <p id="action_id" class="hidden">{{ action_id }}</p>
          <p id="cycle_dt" class="hidden">{{ cycle_dt }}</p>
          <p id="routing_key" class="hidden">{%if routing_key%}{{ routing_key }}{%end%}</p>
          <h2>{% if action_id %}{{ action_id }}{% else %}{{ getattr(task, 'name', None) }}{% end %}
            <small>{{ task.uuid }}</small>
            {% if task.state in ["STARTED","RUNNING"] %}
                <button style="float: right" class="btn btn-danger" onclick="flower.on_task_terminate(event)">Terminate</button>
            {% elif task.state == "RECEIVED" or task.state == "RETRY" %}
                <button  style="float: right" class="btn btn-danger" onclick="flower.on_task_revoke(event)">Revoke</button>
            {% elif task.state == "FAILURE" and action_id %}
                <button  style="float: right" class="btn btn-danger" onclick="flower.on_task_retry(event)">Retry</button>
            {% end %}
          </h2>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <table id="basic" class="table table-bordered table-striped">
              <caption>Basic task options</caption>
              <tbody>
              {% if action_id %}
              <tr id="action">
                <td>Action</td>
                <td> {{ action_id }}</td>
              </tr>
              {% end %}
              {% if cycle_dt %}
              <tr id="cycle">
                <td>Cycle</td>
                <td> {{ cycle_dt }}</td>
              </tr>
              {% end %}
              <tr id="task">
                <td>Task</td>
                <td>{{ task.name }}</td>
              </tr>
              
              {% if routing_key %}
              <tr id="routing_key">
                <td>Routing Key</td>
                <td> {{ routing_key }}</td>
              </tr>
              {% end %}
              <tr id="uuid">
                <td>UUID</td>
                <td>{{ task.uuid }}</td>
              </tr>
              <tr id="state">
                <td>State</td>
                <td>
                  {% if task.state == "SUCCESS" %}
                    <span class="label label-success">{{ task.state }}</span>
                  {% elif task.state in ["FAILURE","RETRY"] %}
                    <span class="label label-important">{{ task.state }}</span>
                  {% elif task.state in ["STARTED","RUNNING"] %}
                    <span class="label label-info">{{ task.state }}</span>
                  {% else %}
                    <span class="label label-default">{{ task.state }}</span>
                  {% end %}
                </td>
              </tr>
              <tr id="args">
                <td>args</td>
                <td>{{ task.args }}</td>
              </tr>
              <tr id="kwargs">
                <td>kwargs</td>
                <td>{{ task.kwargs }}</td>
              </tr>
              <tr id="result">
                <td>Result</td>
                <td>{% if isinstance(task.result, dict) and task.result.has_key('progress') and task.result['progress'] > 0 %}
                  <div class="progress">
                    <div class="bar" style="width: {{format_progress(task.result['progress'])}}%;">
                    {{round(format_progress(task.result['progress']),1)}}%
                    {% if task.result['status'] %}
                     - {{task.result['status']}}
                    {%end%}
                    </div>
                    {{task.result}}
                  </div>
                {% else %}
                  {{ getattr(task, 'result', None) }}
                {% end %}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="span6">
            <table id="advanced" class="table table-bordered table-striped">
              <caption>Advanced task options</caption>
              <tbody>
              {% for name in task._fields %}
                {% if name not in ['name', 'uuid', 'state', 'args', 'kwargs', 'result'] and getattr(task, name, None) is not None %}
                <tr id="{{ humanize(name).lower() }}">
                  <td>{{ humanize(name) }}</td>
                  <td>
                    {% if name in ['sent', 'received', 'started', 'revoked','succeeded', 'retried', 'timestamp'] %}
                    {{ humanize(getattr(task, name, None), type='time') }}
                    {% elif name == 'worker' %}
                    <a
                        href="{{ absolute_url('/worker/' + task.worker.hostname) }}">{{ task.worker.hostname }}</a>
                    {% elif name == 'traceback' %}
                    <pre>{{ getattr(task, name, None) }}</pre>
                    {% else %}
                      {{ getattr(task, name, None) }}
                    {% end %}
                  </td>
                </tr>
                {% end %}
              {% end %}
              </tbody>
            </table>
          <div>
        </div>
      </div>
    </div>
    {% if action_id %}
    {% block action %}
        {% module Template("action.html", 
                            action_id=action_id,
                            action_conf=action_conf,
                            logfile=logfile,
                            absolute_url=absolute_url) %}
    {% end %}
    {% end %}
    {% if workflow %}
      {% module Template("cycle.html",
                         workflow=workflow,
                         cycle_dt=cycle_dt,
                         logfile=logfile) %}
    {% end %}
    
  </div>
{% end %}
