{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks", absolute_url=absolute_url) %}
{% end %}

{% block extra_styles %}
  <style type="text/css">
    #task-filter-form, #task-filter-form .form-actions {
      margin-bottom: 0;
    }
    #task-filter-form-accordion .accordion-inner {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  </style>
{% end %}


{% block container %}
<div class="container-fluid">
  <div id="task-filter-form-accordion" class="accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-filter-form-accordion" href="#task-filter-form-container">
          Filter tasks
        </a>
      </div>
      <div id="task-filter-form-container" class="accordion-body in collapse">
        <div class="accordion-inner" style="padding-left: 0; padding-right: 0;">
            <form id="task-filter-form" class="form-horizontal" action="{{ absolute_url('/tasks') }}" method="GET">
            <div class="control-group">
              <label class="control-label" for="input-limit">Limit:</label>
              <div class="controls">
                <input name="limit" type="text" class="input-small" id="input-limit"
                       value="{{ limit or '' }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="select-worker">Workers:</label>

              <div class="controls">
                <select name="worker" id="select-worker">
                  <option>All</option>
                  {% for name in workers %}
                  <option {% if name==worker %} selected {% end %}>{{ name }}</option>
                  {% end %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="select-task">Seen task types:</label>

              <div class="controls">
                <select name="type" id="select-task">
                  <option>All</option>
                  {% for name in task_types %}
                  <option {% if name==type %} selected {% end %}>{{ name }}</option>
                  {% end %}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="select-state">State:</label>

              <div class="controls">
                <select name="state" id="select-state">
                  <option>All</option>
                  {% for name in all_states %}
                  <option {% if name==state %} selected {% end %}>{{ name }}</option>
                  {% end %}
                </select>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Apply filter</button>
              <button class="btn" onclick="flower.on_cancel_task_filter(event)">Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>UUID</th>
      <th>State</th>
      <th>args</th>
      <th>kwargs</th>
      <th>Result</th>
      <th>Received</th>
      <th>ETA</th>
      <th>Started</th>
      <th>Succeeded</th>
      <th>Run Time</th>
    </tr>
    </thead>
    <tbody>
    <tr id="row-template" class='hidden'>
        <td>Name</td>
        <td><a href="">UUID</a></td>
        <td><span class="label label-success">State</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% for uuid, task in tasks %}
    <tr id={{uuid}}>
      <td>{{ getattr(task, 'name', None) }}</td>
      <td><a href="{{ absolute_url('/task/' + task.uuid) }}">{{ humanize(task.uuid, length=12) }}</a></td>
      <td>
        {% if task.state == "SUCCESS" %}
          <span class="label label-success">{{ task.state }}</span>
        {% elif task.state in ["FAILURE","RETRY"] %}
          <span class="label label-important">{{ task.state }}</span>
        {% elif task.state in ["STARTED","RUNNING"] %}
          <span class="label label-info">{{ task.state }}</span>
        {% else %}
          <span class="label label-default">{{ task.state }}</span>
        {% end %}
      </td>
      <td>{{ task.args }}</td>
      <td>{{ task.kwargs }}</td>
      <td>{% if isinstance(task.result, dict) and task.result.has_key('progress') %}
          <div class="progress">
            <div class="bar" style="width: {{format_progress(task.result['progress'])}}%;">{{round(format_progress(task.result['progress']),1)}}%
            {% if task.result['status'] %} - {{task.result['status']}}{%end%}</div>
          </div>
          
          {% else %}
            {{ task.result }}
          {% end %}
      </td>
      <td>{{ humanize(task.received, type='time') }}</td>
      <td>{%if task.eta%}{{ task.eta }}{%else%}ASAP{%end%}</td>
      <td>{{ humanize(task.started, type='time') }}</td>
      <td>{{ humanize(task.succeeded, type='time') }}</td>
      <td>{%if task.runtime %}{{ seconds_to_timedelta(task.runtime) }}{%else%} - {%end%}</td>
    </tr>
    {% end %}
  </table>
  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
       aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
      </div>
    </div>
  <div>
{% end %}
