{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="tasks", sched_app=sched_app()) %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>

<div class="container-fluid">

  <table id="tasks-table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>UUID</th>
      <th>Action ID</th>
      <th>Cycle</th>
      <th>State</th>
      <th>args</th>
      <th>kwargs</th>
      <th>Result</th>
      <th>Received</th>
      <th>Started</th>
      <th>Runtime</th>
      <th>Worker</th>
      <th>Exchange</th>
      <th>Routing Key</th>
      <th>Retries</th>
      <th>Revoked</th>
      <th>Exception</th>
      <th>Expires</th>
      <th>ETA</th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
        {% if getattr(task, 'name', None) is None %}
            {% continue %}
        {% end %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.uuid }}</td>
      <td>{{ task.action_id }}</td>
      <td>{{ task.cycle_dt }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.args }}</td>
      <td>{{ task.kwargs }}</td>
      <td>
        {% if task.state == "SUCCESS" %}
            {{ task.result }}
        {% elif task.state == "FAILURE" %}
            {{ task.exception }}
        {% end %}
      </td>
      <td>{{ humanize(task.started, type=time) }}</td>
      <td>{{ humanize(task.received, type=time) }}</td>
      <td>
        {% if task.timestamp and task.started %}
            {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
        {% end %}
      </td>
      <td>{{ task.worker }}</td>
      <td>{{ task.exchange }}</td>
      <td>{{ task.routing_key }}</td>
      <td>{{ task.retries }}</td>
      <td>{{ task.revoked }}</td>
      <td>{{ task.exception }}</td>
      <td>{{ task.expires }}</td>
      <td>{{ task.eta }}</td>
    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}

{% block extra_scripts %}
<script type="text/javascript">
  function render_collapsable(data, type, full, meta) {
    return '<span class="collapsable">'+data+'</span>'
  }

  function collapse_collapsable () { 
    $('.collapsable').expander({slicePoint: 25,
                                preserveWords: false,
                                expandText: '-->',
                                collapseText: '<--'});
  }
  function on_tasks_update(update) {
    var table = $('#tasks-table').DataTable();
    flower.update_table_data(update, table);
  }

  function connect_tasks_socket(update_func) {
    var host = $(location).attr('host'),
        protocol = $(location).attr('protocol') === 'http:' ? 'ws://' : 'wss://',
        ws = new WebSocket(protocol + host + "/api/task/events/update-tasks/");
    ws.onmessage = function (event) {
        var update = $.parseJSON(event.data);
        update_func(update)
    };
  }

  $('#tasks-table').DataTable({
      rowId: 'uuid',
      searching: true,
      paginate: true,
      scrollX: true,
      scrollCollapse: true,
      processing: true,
      serverSide: true,
      colReorder: true,
      lengthMenu: [ 50, 100, 200 ],
      /*drawCallback: flower.collapse_collapsable,*/
      initComplete: function() {
        connect_tasks_socket(on_tasks_update);
      },
      ajax: {
          url: flower.url_prefix() + '/tasks/datatable'
      },
      order: [
          [8, "asc"]
      ],
      oSearch: {
          "sSearch": $.urlParam('state') ? 'state:' + $.urlParam('state') : ''
      },
      columnDefs: [{
          targets: 0,
          data: 'name',
          visible: flower.isColumnVisible('name'),
          render: function (data, type, full, meta) {
              return data;
          }
      }, {
          targets: 1,
          data: 'uuid',
          visible: flower.isColumnVisible('uuid'),
          orderable: false,
          render: function (data, type, full, meta) {
              return '<a href="' + flower.url_prefix() + '/task/' + data + '">' + data + '</a>';
          }
      },{
          targets: 2,
          data: 'action_id',
          visible: flower.isColumnVisible('action_id'),
          orderable: true,
      },{
          targets: 3,
          data: 'cycle_dt',
          orderable: true,
          visible: flower.isColumnVisible('cycle_dt')
      },{
          targets: 4,
          data: 'state',
          visible: flower.isColumnVisible('state'),
          render: flower.render_status
      }, {
          targets: 5,
          data: 'args',
          visible: flower.isColumnVisible('args'),
          render: render_collapsable
      }, {
          targets: 6,
          data: 'kwargs',
          visible: flower.isColumnVisible('kwargs'),
          render: render_collapsable
      }, {
          targets: 7,
          data: 'result',
          visible: flower.isColumnVisible('result'),
          render: render_collapsable
      }, {
          targets: 8,
          data: 'received',
          visible: flower.isColumnVisible('received'),
          render: flower.format_time

      }, {
          targets: 9,
          data: 'started',
          visible: flower.isColumnVisible('started'),
          render: flower.format_time
      }, {
          targets: 10,
          data: 'runtime',
          visible: flower.isColumnVisible('runtime'),
          render: flower.format_duration
      }, {
          targets: 11,
          data: 'worker',
          visible: flower.isColumnVisible('worker')
      }, {
          targets: 12,
          data: 'exchange',
          visible: flower.isColumnVisible('exchange')
      }, {
          targets: 13,
          data: 'routing_key',
          visible: flower.isColumnVisible('routing_key')
      }, {
          targets: 14,
          data: 'retries',
          visible: flower.isColumnVisible('retries')
      }, {
          targets: 15,
          data: 'revoked',
          visible: flower.isColumnVisible('revoked')
      }, {
          targets: 16,
          data: 'exception',
          visible: flower.isColumnVisible('exception'),
          render: render_collapsable
      }, {
          targets: 17,
          data: 'expires',
          visible: flower.isColumnVisible('expires'),
          render: flower.format_time
      }, {
          targets: 18,
          data: 'eta',
          visible: flower.isColumnVisible('eta')
      }, ],
  });
</script>
{% end %}