{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks") %}
{% end %}

{% block container %}
  <div id="tz" class="hidden">{{tz}}</div>
  <div id='task-page' class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <p id="taskid" class="hidden">{{ task.uuid }}</p>
          <h2>{{ task.action_id }}
            <small>{{ task.uuid }}</small>
            {% if task.state in ["STARTED","RUNNING","ALLOCATING"] %}
                <button style="float: right" class="btn btn-danger" onclick="flower.on_task_terminate(event)">Terminate</button>
            {% elif task.state in ["FAILURE","SUCCESS"] and 'dedicated' not in str(task.worker) %}
                <button  style="float: right" class="btn btn-danger" onclick="flower.on_task_retry(event)">Retry</button>
            {% elif task.state in ["SENT","RECEIVED","RETRY","PENDING"] %}
                <button  style="float: right" class="btn btn-danger" onclick="flower.on_task_revoke(event)">Revoke</button>
            {% end %}
          </h2>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <table class="table table-bordered table-striped">
              <caption>Basic task options</caption>
              <tbody>
              {% if hasattr(task, 'action_id') %}
              <tr id='action_id'>
                <td>Action ID</td>
                <td>{{ task.action_id }}</td>
              </tr>
              {% end %}
              {% if hasattr(task, 'cycle_dt') %}
              <tr id='cycle_dt'>
                <td>Cycle</td>
                <td>{{ task.cycle_dt }}</td>
              </tr>
              {% end %}
              <tr id='name'>
                <td>Name</td>
                <td>{{ getattr(task, 'name', None) }}</td>
              </tr>
              <tr id='uuid'>
                <td>UUID</td>
                <td>{{ task.uuid }}</td>
              </tr>
              <tr id='state'>
                <td>State</td>
                <td>
                  {% if task.state == "SUCCESS" %}
                    <span class="label label-success">{{ task.state }}</span>
                  {% elif task.state in ["FAILURE","REVOKED"] %}
                    <span class="label label-important">{{ task.state }}</span>
                  {% elif task.state in ["ALLOCATING"] %}
                    <span class="label label-queued">{{ task.state }}</span>
                  {% elif task.state in ["STARTED","RUNNING"] %}
                    <span class="label label-info">{{ task.state }}</span>
                  {% elif task.state in ["RETRY"] %}
                    <span class="label label-warning">{{ task.state }}</span>
                  {% else %}
                    <span class="label label-default">{{ task.state }}</span>
                  {% end %}
                </td>
              </tr>
              <tr id='args'>
                <td>args</td>
                <td><pre class="collapsable">{{ to_json(task.args) }}</pre></td>
              </tr>
              <tr id='kwargs'>
                <td>kwargs</td>
                <td><pre class="collapsable">{{ to_json(task.kwargs) }}</pre></td>
              </tr>
              <tr id='result'>
                <td>Result</td>
                <td>{% if isinstance(task.result, dict) and task.result.has_key('progress') %}
                  <div class="progress">
                    <div class="bar" style="width: {{format_progress(task.result['progress'])}}%;">
                    {{round(format_progress(task.result['progress']),1)}}%
                    {% if task.result['status'] %}
                     - {{task.result['status']}}
                    {%end%}
                    </div>
                    {{task.result}}
                  </div>
                {% else %}
                  <pre class="collapsable">{{ getattr(task, 'result', None) }}</pre>
                {% end %}</td>
              </tr>
              {% if hasattr(task, 'parent') and task.parent %}
              <tr><td>Parent</td><td><a href="/task/{{task.parent}}">{{task.parent}}</a></td>
              {% end %}
              </tbody>
            </table>
          </div>

          <div class="span6">
            <table class="table table-bordered table-striped">
              <caption>Advanced task options</caption>
              <tbody>
              {% for name in task._fields %}
                {% if name not in ['name', 'uuid', 'state', 'args', 'kwargs', 'result','cycle_dt','action_id'] and getattr(task, name, None) is not None %}
                <tr id="{{ name }}">
                  <td>{{ humanize(name) }}</td>
                  <td>
                    {% if name in ['sent', 'received', 'started', 'succeeded', 'retried', 'timestamp', 'failed', 'revoked'] %}
                    {{ humanize(getattr(task, name, None), type='time') }}
                    {% elif name in ['expires', 'eta'] %}
                    {{ humanize(getattr(task, name, None), type='isotime') }}
                    {% elif name == 'worker' %}
                    <a href="{{ reverse_url('worker', task.worker.hostname) }}">{{ task.worker.hostname }}</a>
                    {% elif name in ['traceback','exception'] %}
                    <pre>{{ getattr(task, name, None) }}</pre>
                    {% else %}
                      {{ getattr(task, name, None) }}
                    {% end %}
                  </td>
                </tr>
                {% end %}
              {% end %}
              </tbody>
            </table>
          </div>           
      </div>
    <div class="row-fluid">
      <div class="span6">
          {% if action_conf %}
          <h3>Action configuration <small>Dependencies graph: <a href="{{ reverse_url('deps', task.uuid) }}">pydot</a>/<a href="{{ reverse_url('sankey', task.uuid) }}">sankey</a></small></h3>
          <pre class="prettyprint linenums languague-css">
            {{ action_conf }}
          </pre>
          {% end %}
          {% if task.workflow %}
            {% if isinstance(task.result, dict) and task.result.has_key('state') %}
              <h3>Pending <small>(Waiting for dependencies)</small></h3> 
              <pre class="collapsable prettyprint linenums languague-css">
                {% for action_id in sorted(task.result['state']['pending']) %}
                  - {{ action_id }}<br>
                {% end %}
              </pre>
              <h3>Scheduled/Running</h3>
              <pre class="collapsable prettyprint linenums languague-css">
                {% for action_id in sorted(task.result['state']['running']) %}
                 - {{ action_id }}<br>
                {% end %}
              </pre>
              <h3>Failed</h3>
              <pre class="collapsable prettyprint linenums languague-css">
                {% for action_id in sorted(task.result['state']['failed']) %}
                  - {{ action_id }}<br>
                {% end %}
              </pre>
              <h3>Success</h3>
              <pre class="collapsable prettyprint linenums languague-css">
                {% for action_id in sorted(task.result['state']['success']) %}
                  - {{ action_id }}<br>
                {% end %}
              </pre>
            {% end %}
            <h3>Full workflow <small>Dependencies graph: <a href="{{ reverse_url('deps', task.uuid) }}">pydot</a>/<a href="{{ reverse_url('sankey', task.uuid) }}">sankey</a></small></h3>
            <pre class="collapsable prettyprint linenums languague-css">
              {% for action_id in sorted(task.workflow) %}
                - {{ action_id }}<br>
              {% end %}
            </pre>
          {% end %}
        </div>

        <div class="span6">
          {% if logfile %}
          <h3>Logfile
            <div id="logpath" hidden>{{ logpath }}</div>
            <span style="float: right">
              <button style="line-height: 11px; padding: 3px 7px;" class="btn-small" onclick="$('#logfile').scrollTop(0)" name="top">
                <span class="icon-circle-arrow-up"></span>
              </button>
              <button style="line-height: 11px;  padding: 3px 7px;" class="btn-small" onclick="$('#logfile').scrollTop($('#logfile')[0].scrollHeight)" name="bottom">
                <span class="icon-circle-arrow-down"></span>
              </button>
            </span>
          </h3>
          <pre id='logfile' class="prettyprint linenums languague-css" style="overflow-y: scroll; max-height:500px">
            {{ logfile }}
          </pre>
          {% else %}
          <h3>Logfile <small> Not found </small></h3>
          {% end %}
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}
